<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD9NUUCdvF_Wx9S8cP0Wg_Huf0O_f4diJ4</string>
	<key>GCM_SENDER_ID</key>
	<string>565119861521</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.heyflutterTestTask</string>
	<key>PROJECT_ID</key>
	<string>test-task-aad45</string>
	<key>STORAGE_BUCKET</key>
	<string>test-task-aad45.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:565119861521:ios:761ce93bad216d814002b0</string>
</dict>
</plist>